.dropdown {
  @include d-flex($justify-content: space-between, $gap: 10);
  cursor: pointer;
  margin: rem(8) auto;
  font-size: rem(18);
  border: 1px solid rgb(196, 193, 193);
  background-color: white;
  border-radius: rem(10);
  padding: rem(4) rem(8);
  margin-top: rem(10);

  .arrow-up {
    rotate: 180deg;
    transition: rotate 0.5s;
  }

  .arrow-down {
    rotate: 0deg;
    transition: rotate 0.5s;
  }
}
